<li>
  <table class="index-table">
    <%= "<tr><th>期間</th><td>：</td><td>#{(l timetable.from_date, format: :short)} - #{(l timetable.to_date, format: :short)}</td></tr>".html_safe %>
  </table>

  <span class="small-btn">
    <%= link_to "確認", user_timetable_path(current_user, timetable), class: "btn btn-primary" %>
  </span>
  <% if current_user.admin? %>
    <span class="small-btn">
      <%= link_to "削除", user_timetable_path(current_user, timetable), method: :delete,
                  data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-danger" %>
    </span>
  <% end %>
</li>