<li>
  <table class="index-table">
    <%= "<tr><th>期間</th><td>：</td><td>#{(l timetable.from_date, format: :short)} - #{(l timetable.to_date, format: :short)}</td></tr>".html_safe %>
  </table>

  <div class="small-btn">
    <%= link_to "確認", user_timetable_path(current_user, timetable), class: "btn btn-primary" %>
  </div>
</li>