<% provide(:title, '中の人') %>
<div class="container creator">
  <h1></h1>
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 nopadding">
    
    <div class="flex">
      <%= image_tag 'ito.jpg', alt: 'ito', class: 'creator-img' %>
      <div class="flex col">
        <div class="name">
          <h2><%= link_to 'いとー', user_path(1) %></h2>
          <span>ホワイトボード作成</span>
        </div>
        <p class="text">
          軽音のせいで痛風になりました<br>
          ホワイトボードに何かあったら自分まで連絡ください
        </p>
      </div><!-- flex col -->
    </div><!-- flex -->

    <div class="flex">
      <%= image_tag 'soneda.jpg', alt: 'ito', class: 'creator-img' %>
      <div class="flex col">
        <div class="name">
          <h2><%= link_to 'そねだ', user_path(2) %></h2>
          <span>インフラ構築</span>
        </div>
        <p class="text">
          重いギターを膝の上に置いて弾くと前立腺炎になる
        </p>
      </div><!-- flex col -->
    </div><!-- flex -->

  </div><!-- col -->
</div><!-- container -->