<% unless deleted_user?(user) %>
  <li class="flex user-index">
    <div>
      <%= gravatar_for user, size: 50 %>
    </div>
    <div class="flex small-btn contents">
      <div class="name">
        <%= link_to user.name, user %>
      </div>
      
      <% if current_user.admin? && !current_user?(user) %>
        <div class"small-btn">
          <%= link_to "削除", user_path(user, page: "index"), method: :delete,
              data: {confirm: "「#{user.name}」を削除してよろしいですか？"}, class: "btn btn-danger" %>
          <% unless user.admin? %>
            <%= link_to "管理者にする", add_admin_user_path(user),
                data: {confirm: "「#{user.name}」に管理者権限を与えてもよろしいですか？"}, class: "btn btn-warning" %>
          <% end %>
        </div>
      <% end %>
      
    </div><!-- flex small-btn -->

  </li>
<% end %>