<% provide(:title, "Edit user") %>
<div class="container">
  <h1></h1>

  <%= render 'new_edit_template', { pass_message: "パスワード変更",
                                    pass_message_confirm: "パスワード変更(確認用)",
                                    submit: "プロフィール編集",
                                    this_page: "edit",
                                    required_class: ""} %>
</div>