<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<%= render 'new_edit_template', { pass_message: "パスワード",  
                                  pass_message_confirm: "パスワード(確認用)", 
                                  submit: "新規登録"} %>

