<% provide(:title, 'Sign up') %>
<div class="signup">
  <div class="container">
    <h1></h1>

    <%= render 'new_edit_template', { pass_message: "パスワード",  
                                      pass_message_confirm: "パスワード(確認用)", 
                                      submit: "新規登録",
                                      this_page: "new",
                                      required_class: "required"} %>
  </div>
</div>

