<li>
  <table class="mail-table">
    <%= "<tr><th>送信日時</th><td>：</td><td>#{(l mailing_list.created_at, format: :long)}</td></tr>
         <tr><th>送信者</th><td>：</td><td>#{mailing_list.from_name}</td></tr>
         <tr><th>タイトル</th><td>：</td><td>#{my_truncate(mailing_list.title)}</td></tr>
         <tr><th>本文</th><td>：</td><td>#{my_truncate(mailing_list.content)}</td></tr>".html_safe %>
  </table>

  <div class="small-btn">
    <%= link_to "確認", user_mailing_list_path(current_user, mailing_list), class: "btn btn-primary" %>
  </div>
</li>