<li>
  <%= "送信日時：#{(l mailing_list.created_at+32400, format: :long) }<br>
       送信者　：#{mailing_list.from_name}<br>
       タイトル：#{mailing_list.title}".html_safe %>

  <div id="ml-btn">
    <%= link_to "確認", user_mailing_list_path(current_user, mailing_list), class: "btn btn-primary" %>
  </div>
</li>