<% provide(:title, 'ML archive') %>
<h1></h1>
<h2>過去3年分のメールが確認できます</h2>

<div class="center">
  <%= paginate @mailing_lists %>
</div>

<ul class="index">
  <%= render @mailing_lists %>
</ul>

<div class="center">
  <%= paginate @mailing_lists %>
</div>