<% provide(:title, 'Past ml') %>
<h1>Mailing list confirm</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
    <%= render 'confirm_show_template' %>
    
    <%= link_to "戻る", :back, class: "btn btn-block btn-primary" %>
  </div>
</div>
