@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$h1-size: 2.3em;
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.float-left {
  float: left;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.font-normal {
  font-weight: normal;
}

.block {
  display: black;
}

.inline-flex {
  display: inline-flex;
}

.inline-block {
  display: inline-block;
}

.clear {
  clear: left;
}

.flex {
  display: flex;
  display: -webkit-flex;
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: bold;
}

table, th, td {
  word-wrap: break-word;
  white-space: normal!important;
}

#past-ml, #delete-user {
  padding-top: 15px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: $h1-size;
  letter-spacing: -2px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  line-height: 1.4em;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */////////////////////////////
header {
  box-shadow: 0px 0px 10px;

  .nav {
    margin: 0;
  }

  .menu-icon {
    float: right;
  }

  #admin-sign {
    font-size: 0.5em;
    font-weight: normal;
    padding-left: 8px;
    letter-spacing: 0px;
    color: #fa0;
  }

  .beta {
    font-size: 0.5em;
    font-weight: normal;
    padding-left: 8px;
    letter-spacing: 0px;
    color: #f55;
  }

  #logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    letter-spacing: -1px;
    padding-top: 9px;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  ul {
    margin: 0;
    padding-left: 0;
  }

  #menu li {
    list-style: none;
    font-size: 1.2em;
    margin-bottom: 30px;
    border-bottom: 1px solid #ffffff;

    a {
      display: block;
      width: 240px;
      text-decoration: none;
      color: #fff;
      transition: all 0.3s;

      &:hover {
        text-decoration: none;
        color: #444;
      }
    }

    // タイムテーブル
    a.timetable:before {
      content: "\f00a";
      margin: 0 7px 0 3px;
      font-family: FontAwesome;
      font-size: .9em;
    }

    // タイムテーブル作成
    a.create-timetable:before {
      content: "\f013";
      margin: 0 7px 0 3px;
      font-family: FontAwesome;
      font-size: .9em;
    }

    // サークルメンバー
    a.member:before {
      content: "\f0c0";
      margin: 0 7px 0 3px;
      font-family: FontAwesome;
      font-size: .9em;
    }

    // サークルメール
    a.mail:before {
      content: "\f003";
      margin: 0 7px 0 3px;
      font-family: FontAwesome;
      font-size: .9em;
    }

    // プロフィール確認
    a.profile:before {
      content: "\f007";
      margin: 0 7px 0 3px;
      font-family: FontAwesome;
      font-size: .9em;
    }

    // プロフィール編集
    a.edit-profile:before {
      content: "\f040";
      margin: 0 7px 0 3px;
      font-family: FontAwesome;
      font-size: .9em;
    }

    // ログアウト
    a.logout:before {
      content: "\f08b";
      margin: 0 7px 0 3px;
      font-family: FontAwesome;
      font-size: .9em;
    }

    // ログイン
    a.login:before {
      content: "\f090";
      margin: 0 7px 0 3px;
      font-family: FontAwesome;
      font-size: .9em;
    }
  }

  

  #menu {
    position: fixed;
    top: 50px;
    right: -340px; /* メニューのwidth + padding */
    width: 280px; /* メニューのwidth */
    height: 100%;
    padding: 30px 20px;
    transition: left .3s, right .3s; /* アニメーション */
    background-color: rgba(86, 86, 86, 0.7);
    -webkit-backdrop-filter: blur(10px);
  }

  .toggle {
    cursor: pointer;
    margin: 0;
  }

  .toggle:hover {
    text-decoration: underline;
  }

  #open {
    display: none;
  }

  #open:checked + #menu {
    right: 0;
  }

  #sm-menu-icon, #sm-menu-icon span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }

  #sm-menu-icon {
    position: relative;
    top: 18px;
    width: 24px;
    height: 15px;

    & > span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #ffffff;

      &:nth-of-type(1) {
        top: 0;
      }

      &:nth-of-type(2) {
        top: 7px;
      }

      &:nth-of-type(3) {
        bottom: 0;
      }
    }

    // クリック時の動作
    &.active > span {
      &:nth-of-type(1) {
        transform: translateY(7.5px) rotate(-315deg);
      }

      &:nth-of-type(2) {
        opacity: 0;
      }

      &:nth-of-type(3) {
        transform: translateY(-7.5px) rotate(315deg);
      }
    }
  }

}

/* footer */

footer {
  margin-top: 30px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* gravatar */

.gravatar {
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms *//////////////////////////////////////////////////////////////////////////////////////

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.radio-control {
  margin-bottom: 15px;
}

.bootstrap-date {
  display: inline-block;
  width: auto;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#session_remember_me {
  width: 100%;
  margin-left: 0;
}

#remember_me {
  margin-left: 25px;
}

#sendto_checkbox {
  margin-top: -2px;
  margin-bottom: 10px;
}

.confirm-text {
  width: 100%;
  word-wrap:break-word;
  margin-top: -15px;
  margin-bottom: 10px;
}

.submit-btn {
  margin-bottom: 10px;
}

#fix-btn {
  color: black;
  background-color: #ccc;
  &:hover {
    background-color: #aaa;
  }
}

#sendto_checkbox input, .radio-control input {
  width: auto!important;
  vertical-align: middle!important;
}

.select-interval {
  padding: 0;
  text-align: center;
}

.label-note {
  margin-top: -4px;
}

/* index */

.index {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.small-btn {
  margin-top: 5px;
  margin-right: 15px;
  .btn {
    padding: 2px 25px;
  }
}

.index-table {
  th {
    font-weight: normal;
    white-space: nowrap;
    min-width: 90px;
  }
  th, td {
    vertical-align: top;
  }
}

/* timetable */////////////////////////////////////////////////////////////////////////////////////
.timetable {
  margin: 0 auto;

  table, td, th {
    border: 1px #777 solid;
    max-width: 100px;
  }

  td {
    padding: 5px!important;
  }

  th {
    width: auto;
    padding: 5px 3px!important;
    font-size: 0.9em;
    background-color: #f7f7fd;
  }

  th.date {
    min-width: 90px;
  }

  .band_name {
    padding-bottom: 10px;
    font-size: 1.2em;
  }

  .reservation_user {
    font-size: 0.8em;
    padding-bottom: 5px;
  }

  .delete_link {
    font-size: 0.9em;
  }

  .btn {
    width: 100%;
    padding: 1px 3px;
  }
}

.timetable-confirm {
  margin-bottom: 20px;

  table, td, th {
    border: 1px #777 solid;
    padding: 5px 3px!important;
    font-size: 0.9em;
  }

  th {
    background-color: #f7f7fd;
  }
}

.fixed-midashi {
  overflow: auto;
  height: 70vh;
  width: 100%;
  margin: 0 0 20px;
  box-sizing: border-box;
}

.create-timetable {
  select {
    min-width: 105px;
  }

  span.form-str {
    text-align: left;
    padding-top: 7px;
  }
}

/* login & signup */////////////////////////////////////////////////////////////////////////////////////
.jumbotron {
  background-image: image-url('login.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-top: -20px;
  padding-top: 20px;

  position: relative;
  width: 100%;
  height: 100vh;

  box-shadow: 0px 0px 10px;
}

.login, .signup {

  h1 {
    font-size: $h1-size;
  }

  p {
    padding-top: 15px;
    font-size: 1.1em;
  }
}

.white-filter {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  height: 310px;
  padding-top: 30px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(10px);
  box-sizing: border-box;
}

/* プロフィールページ */////////////////////////////////////////////////////////////////////////////////////
.user-show {
  .container {
    padding-top: 20px;
  }

  .gravatar {
    margin: 0;
  }

  td {
    border: 1px #777 solid;
    padding: 5px 10px;
  }

  table {
    margin-top: 30px;
    width: 100%;
  }

  .bold {
    padding-bottom: 5px;
  }

  td.textarea p {
    line-height: 1.3em;
    font-size: 1em;
  }

}