/* プロフィールページ */////////////////////////////////////////////////////////////////////////////////////
.user-show {
  .container {
    padding-top: 20px;
  }

  img {
    border-radius: .3em;
    border: 2px solid #fff;
    box-shadow:0px 0px 5px #ccc;
  }

  td {
    border: 1px #777 solid;
    padding: 5px 10px;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }

  table {
    margin-top: 30px;
    width: 100%;

    &.table-responsive {
      margin-bottom: 0px;
    }
  }

  .bold {
    padding-bottom: 5px;
  }

  td.textarea p {
    line-height: 1.3em;
    font-size: 1em;
  }

}

.prof-img {

  input {
    border: none;
  }

  img {
    border-radius: .3em;
    border: 2px solid #fff;
    box-shadow:0px 0px 5px #ccc;
    margin: 0;
  }
}
